/* Syntax Highlighting Colors */
.ace_bedrock.ace_tag {
    color: #6435c9;
}
.ace_bedrock_variable {
    color: #5db572;
}
.ace_bedrock_string {
    color: #49aed0;
}
.ace_bedrock.ace_operator, .ace_bedrock_option {
    color: #A0522D;
}
.ace_bedrock_function {
}
.ace_bedrock_attribute {
}
